function Ball.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push constant 4
    pop this 4
    push pointer 0
    call Ball.reset 1
    pop temp 0
    push pointer 0
    return
function Ball.reset 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Ball.erase 1
    pop temp 0
    push constant 256
    pop this 0
    push constant 128
    pop this 1
    push constant 3
    pop this 3
    push constant 0
    pop this 5
    push this 2
    push constant 0
    gt
    not
    if-goto Ball_1
    push constant 4
    neg
    pop this 2
    goto Ball_0
label Ball_1
    push constant 4
    pop this 2
label Ball_0
    push pointer 0
    call Ball.draw 1
    pop temp 0
    push constant 0
    return
function Ball.update 2
    push argument 0
    pop pointer 0
    push pointer 0
    call Ball.erase 1
    pop temp 0
    push this 0
    push this 2
    add
    pop local 0
    push this 1
    push this 3
    add
    pop local 1
    push local 1
    push constant 20
    push this 4
    add
    lt
    not
    if-goto Ball_3
    push constant 20
    push this 4
    add
    pop local 1
    push this 3
    neg
    pop this 3
    goto Ball_2
label Ball_3
label Ball_2
    push local 1
    push constant 235
    push this 4
    sub
    gt
    not
    if-goto Ball_5
    push constant 235
    push this 4
    sub
    pop local 1
    push this 3
    neg
    pop this 3
    goto Ball_4
label Ball_5
label Ball_4
    push local 0
    pop this 0
    push local 1
    pop this 1
    push this 2
    push constant 0
    lt
    push this 0
    push argument 1
    call Paddle.getX 1
    push constant 8
    add
    push this 4
    add
    lt
    and
    not
    if-goto Ball_7
    push this 1
    push argument 1
    call Paddle.top 1
    gt
    push this 1
    push argument 1
    call Paddle.bottom 1
    lt
    and
    not
    if-goto Ball_9
    push argument 1
    call Paddle.getX 1
    push constant 8
    add
    push this 4
    add
    pop this 0
    push this 2
    neg
    pop this 2
    push this 5
    push constant 1
    add
    pop this 5
    push this 5
    push constant 3
    eq
    not
    if-goto Ball_11
    push this 2
    push constant 1
    add
    pop this 2
    push constant 0
    pop this 5
    goto Ball_10
label Ball_11
label Ball_10
    goto Ball_8
label Ball_9
label Ball_8
    goto Ball_6
label Ball_7
label Ball_6
    push this 2
    push constant 0
    gt
    push this 0
    push argument 2
    call Paddle.getX 1
    push this 4
    sub
    gt
    and
    not
    if-goto Ball_13
    push this 1
    push argument 2
    call Paddle.top 1
    gt
    push this 1
    push argument 2
    call Paddle.bottom 1
    lt
    and
    not
    if-goto Ball_15
    push argument 2
    call Paddle.getX 1
    push this 4
    sub
    pop this 0
    push this 2
    neg
    pop this 2
    push this 5
    push constant 1
    add
    pop this 5
    push this 5
    push constant 3
    eq
    not
    if-goto Ball_17
    push this 2
    push constant 1
    sub
    pop this 2
    push constant 0
    pop this 5
    goto Ball_16
label Ball_17
label Ball_16
    goto Ball_14
label Ball_15
label Ball_14
    goto Ball_12
label Ball_13
label Ball_12
    push pointer 0
    call Ball.draw 1
    pop temp 0
    push constant 0
    return
function Ball.draw 0
    push argument 0
    pop pointer 0
    push this 0
    push this 4
    gt
    push this 0
    push constant 512
    push this 4
    sub
    lt
    and
    push this 1
    push this 4
    gt
    and
    push this 1
    push constant 256
    push this 4
    sub
    lt
    and
    not
    if-goto Ball_19
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 4
    call Screen.drawCircle 3
    pop temp 0
    goto Ball_18
label Ball_19
label Ball_18
    push constant 0
    return
function Ball.erase 0
    push argument 0
    pop pointer 0
    push this 0
    push this 4
    gt
    push this 0
    push constant 512
    push this 4
    sub
    lt
    and
    push this 1
    push this 4
    gt
    and
    push this 1
    push constant 256
    push this 4
    sub
    lt
    and
    not
    if-goto Ball_21
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 4
    call Screen.drawCircle 3
    pop temp 0
    goto Ball_20
label Ball_21
label Ball_20
    push constant 0
    return
function Ball.isGoalLeft 0
    push argument 0
    pop pointer 0
    push this 0
    push this 4
    push constant 5
    add
    lt
    return
function Ball.isGoalRight 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 507
    push this 4
    sub
    gt
    return
function Ball.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Ball.erase 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Ball.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Ball.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Ball.getSize 0
    push argument 0
    pop pointer 0
    push this 4
    return