function Paddle.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 4
pop this 2
push constant 25
pop this 3
push constant 4
pop this 4
push pointer 0
return
function Paddle.update 0
push argument 0
pop pointer 0
push argument 1
call Keyboard.keyPressed 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Paddle.moveUp 1
pop temp 0
label IF_FALSE0
push argument 2
call Keyboard.keyPressed 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Paddle.moveDown 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Paddle.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push this 4
sub
pop this 1
label IF_FALSE0
push constant 0
return
function Paddle.moveDown 0
push argument 0
pop pointer 0
push this 1
push this 3
add
push constant 230
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push this 4
add
pop this 1
label IF_FALSE0
push constant 0
return
function Paddle.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.fillRectangle 4
pop temp 0
push constant 0
return
function Paddle.collidesWith 3
push argument 0
pop pointer 0
push argument 1
call Ball.xPos 1
pop local 0
push argument 1
call Ball.yPos 1
pop local 1
push constant 0
not
pop local 2
push local 0
push this 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 2
label IF_FALSE0
push local 0
push this 0
gt
push this 2
add
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 2
label IF_FALSE1
push local 1
push this 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
label IF_FALSE2
push local 1
push this 1
gt
push this 3
add
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 2
label IF_FALSE3
push local 2
return
